# Dépendances
node_modules/
.pnp
.pnp.js

# Build / cache
.next/
out/
dist/
build/
.turbo

# Tests
coverage/

# Env (NE JAMAIS commit les vraies clés)
.env
.env.local
.env*.local
.env.production
.env.development

# Vercel
.vercel

# OS / éditeur
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Secrets / notes locales (NE JAMAIS commit)
supabase/Supabase psswd.txt
*psswd*
build.log
